.button {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: whitesmoke;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px
}