.resultValue {
    width: 480px;
    height: 200px;
    border: aquamarine solid 5px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-size: 90px ;
    color: aquamarine;
}
.highLimValue {
    width: 480px;
    height: 200px;
    border: aquamarine solid 5px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-size: 90px ;
    color: red;
}