.App {

}

.counter {
    border: 1px solid white;
    border-radius: 60px;
    width: 300px;
    height: 300px;
    margin-left: 300px;
    margin-top: 200px;

}
.resultValue {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 40px;
    width: 260px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
}

.buttons {
    border: 1px solid white;
    border-radius: 40px;
    width: 260px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


